@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-darkMode: #36454F;
    --color-lightMode: #fff;
    --color-softDark: #1A1A1A;
    --color-gainsboro: #f2f2f2;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: #f8deff;
}

/* animation */
@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes fadeInDown {
    from {
        transform: translate3d(0, -40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInDown {
    from {
        transform: translate3d(0, -40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.animatedFadeInDown {
    opacity: 0
}

.fadeInDown {
    opacity: 0;
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

@keyframes spinText {
    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(calc(100% + 100px));
    }
}

.animate-spinText {
    position: absolute;
    transform: translateX(-200px);
    animation: spinText 20s linear infinite;
    animation-delay: 2s;
}