/* Max-width: 990px */
@media screen and (max-width: 991px) {
  .container {
    width: 92%;
  }

  .main__nav .list {
    display: none;
  }

  .main-section__image {
    display: none;
  }

  /*  statistics section*/

  .statistics {
    padding: 20px;
    text-align: center;
    justify-content: center;
    gap: 20px;
  }

  .statistic__iteam {
    margin-right: 0;
    margin-bottom: 20px;
  }

  /* About section */
  .about__me {
    padding: 80px 0;
  }

  .about__me>div {
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }

  .about-me__image {
    display: none;
  }

  /* services section */
  .services {
    padding: 80px 0;
    text-align: center;
  }

  .services__cards {
    flex-wrap: wrap;
  }

  .service-card {
    flex-basis: 45%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  /* Clients section */
  .clients {
    padding: 80px 0;
    text-align: center;
  }

  .client-iteam {
    flex-direction: column;
    gap: 10px;
  }

  .clients-iteams>div {
    width: 100%;
  }

  .client-iteam__image {
    background-image: none;
  }

  /* Portfolio section */
  .portfolio {
    max-width: 720px;
    margin: 0 auto;
    padding-top: 80px;
    margin-bottom: 600px;
  }

  .portfoio-iteam-1 .portfolio-iteam__image,
  .portfoio-iteam-2 .portfolio-iteam__image,
  .portfoio-iteam-3 .portfolio-iteam__image,
  .portfoio-iteam-4 .portfolio-iteam__image,
  .portfoio-iteam-5 .portfolio-iteam__image,
  .portfoio-iteam-6 .portfolio-iteam__image {
    height: auto;
  }

  .portfoio-iteam-3 {
    width: 50%;
    top: 210px;
    right: 0;
  }

  .portfoio-iteam-4 {
    width: 50%;
    top: 560px;
    left: 0;
  }

  .portfoio-iteam-5 {
    top: 635px;
  }

  .portfoio-iteam-6 {
    position: absolute;
    top: 970px;
    left: 0;
  }

  .portfolio-iteam__image img {
    object-fit: contain;
  }

  /* blog Section  */
  .blog {
    padding: 80px 0;
  }

  .blog-iteams {
    flex-wrap: wrap;
  }

  .blog-iteam {
    flex-basis: 45%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  /* Footer section  */
  .footer-nav-list {
    display: none;
  }

  /* Contacts */
  .half-flex {
    flex-direction: column;
  }

  .contact__firstname,
  .contact__email {
    padding: 0;
  }
}


/* Max width-767px */
@media screen and (max-width:769px) {
  .container {
    width: 92%;
  }

  /* Main Section  */
  .main-banner {
    background: none;
    min-height: 550px;
  }

  .main-section>div {
    width: 100%;
    text-align: center;
  }

  .main-section__action {
    display: none;
  }

  /* statistics section */

  .statistics {
    flex-direction: column;
  }

  .statistic__iteam {
    width: 100%;
  }

  /* Service */
  .service-card {
    flex-basis: 100%;
  }

  /* Blog section */
  .blog-iteam {
    flex-basis: 100%;
  }
}